<!-- <app-ex1 /> -->

<h5>Com href</h5>
<div>
  <li><a href="/outro">Outros componentes</a></li>
  <li><a href="/ex01">Exercicio 1</a></li>
</div>

<h5>Com RouterLink</h5>
<div>
  <li><a routerLink="/outro"  routerLinkActive="ativo">Outros componentes</a></li>
  <li><a routerLink="/ex01" routerLinkActive="ativo">Exercicio 1</a></li>
</div>

<button type="button" class="btn btn-primary">OK</button>
<router-outlet />


<!-- <h1>Hello World</h1>

<app-outo-componente/>
-------------------------------------
<app-componente/>
-------------------------------------
<app-componente nome = "Rodrigues" />
------------------------------------- -->


