body{
    background: linear-gradient(#404849 10%, #515794 50%);

    height: 100vh;
    overflow-y: hidden;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
   
}
.secundaria{
    display: grid;
    grid-template-columns: auto auto;
}
header{
    align-self: center;
}
h1{
    font-size: 3rem;
    color:white;
    text-shadow: 5px 5px 5px black;
}
p{
   font-size: 1.5rem;
   color: white;
   text-shadow: 4px 4px 4px black;
}
.central{
   margin: 0 auto;
   width: 800px;
}
img{
    border-radius:50%;
    width: 50%;
}
ol,ul{
    list-style: none;
    font-size: 1.1rem;
    color: white;
}
li a{
    color: white;
}
li a:hover{
   
    text-shadow: 4px 4px 4px black;
}
table{
    margin: 0 auto;
    
}
tr{
    background-color: #ccc;
}

a{
    text-decoration: none;
}