body {
  background-color: #b2a3c4;
}
h1{
  color: #3a3939;
}
ul{
  padding: 0;
}
ul li{
  list-style: none;
  font-size: 1.2rem;
  font-weight: 700;
  align-items: baseline;
  margin: 0 auto;

}
.botao {
  width: 200px;
  height: 70px;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: #3825508a;
}
.botao:hover {
  background-color: #a976eb8a;
  color: #fff;
}
div {
  display: flex;
  flex-direction: column;
}
.div-filho {
  margin: 0 auto;
  border: 1px solid rgb(240, 229, 229);
  width: 100%;
  text-align: center;
  background-color: #c9c5c5;
  border-radius: 10px;
}
.div-filho > div {
  padding: 10px;
}

#verificarUtilizadorNome {
  padding: 10px;
  border-radius: 5px;
  display: none;
}
button {
  margin-top: 10px;
  align-self: center;
}

#resultadoTela {
  margin: 0 auto;
}
.invisible {
  display: none;
}
