<nav>
  <h5>Com href:</h5>
  <ul>
    <li><a href="/outro">Outro componente</a></li>
    <li><a href="/ex01">Exercicio 01</a></li>
    <li><a href="/ngif">Estrutura condicionais</a></li>
    <li><a href="/ngfor">Estrutura de repetição</a></li>
  </ul>

  <h5>Com routerLink:</h5>
  <ul>
    <li>
      <a routerLink="/outro" routerLinkActive="ativo">Outro componente</a>
    </li>
    <li>
      <a routerLink="/ex01" routerLinkActive="ativo">Exercicio 01</a>
    </li>
    <li>
      <a routerLink="/ngif" routerLinkActive="ativo">Estrutura condicionais</a>
    </li>
    <li>
      <a routerLink="/ngfor" routerLinkActive="ativo">Estrutura de repetição</a>
    </li>
  </ul>
</nav>

<router-outlet />

<!--
<h1>olá mundo!</h1>

<app-ex01 />

<app-outro-componente />
---------------------------------------------------
<app-meu-componente meu-nome="Teixeira" />
---------------------------------------------------
<app-meu-componente meu-nome="Quim" />
-->
